<div class="accountSettings">
	<h1>Update your account</h1>
	<form id="accountSettings" action="/users/update" method="POST">
		<div class="inputWrapper">
			<div class="inputLabel">Username:</div>
			<input type="text" name="username" autocomplete="off" readonly/>
		</div>
		<div class="inputWrapper">
			<div class="inputLabel">Name:</div>
			<input type="text" name="name" autocomplete="off"/>
		</div>
		<div class="inputWrapper">
			<div class="inputLabel">E-mail:</div>
			<input type="text" name="email" autocomplete="off"/>
		</div>
		<div class="inputWrapper">
			<div class="inputLabel">Phone:</div>
			<input type="text" name="phone" autocomplete="off"/>
		</div>
		<div class="inputWrapper">
			<div class="inputLabel">Date of Birth:</div>
			<input type="date" name="dob"/>
		</div>
		<div class="inputWrapper">
			<button type="submit">UPDATE</button>
		</div>
		<div class="error">
		</div>	
	</form>	
</div>