<div class="history">
	<div class="historyWrapper">
		<div class="historyHeading">Booking id</div>
		<div class="historyHeading">Train Name & no.</div>
		<div class="historyHeading">Date</div>
		<div class="historyHeading">No. of passengers</div>
		<div class="historyHeading">Class</div>
		<div class="historyHeading">Status</div>
	</div>	
	{trains}
	<!--<div class="historyWrapper">
		<div class="historyMember">12345</div>
		<div class="historyMember">watoexpress (100)</div>
		<div class="historyMember">"2018-10-01"</div>
		<div class="historyMember">3</div>
		<div class="historyMember">class</div>
		<div class="historyMember">Canceled</div>
	</div>-->
</div>