<div class="index">
	<div class="sidebar">
		<div class="welcomeMessage">
			<!-- from app -->
		</div>
		<ul>
			<li><a href="/train/search">Book a ticket</a></li>
			<li><a href="/history">Booking History</a></li>
			<li><a href="/cancel">Cancel tickets</a></li>
		</ul>
		<div class="contact">
			<div class="contactContent">Contact us at fakeperson@fakemail.com</div>
			<div class="contactContent">Like us on facebook! www.facebook.com/fakerail</div>
		</div>
	</div>
	<div class="indexFloater">
		KARGIL RAILWAYS
	</div>
	<div class="indexFloaterCaption">
		Safety | Security | Punctuality
	</div>	
</div>
