<div class="trainSearch">
	<form id="trainSearch" action="/train/book" method="GET">
		<div class="inputWrapperT">
			<div class="inputLabelT">From: </div>
			<input type="text" name="from"/>
		</div>
		<div class="inputWrapperT">
			<div class="inputLabelT">To: </div>
			<input type="text" name="to"/>
		</div>
		<div class="inputWrapperT">
			<div class="inputLabelT">Date: </div>
			<input type="date" name="date"/>
		</div>
		<div class="inputWrapperT">
			<button type="submit">Search for trains</button>
		</div>
		<div class="error"></div>
	</form>
	<div class="indexFloater">
		SEARCH FOR A TRAIN!
	</div>
	<div class="indexFloaterCaption">
		Its easy and fast!
	</div>
</div>