<div class="trainCancel">
	<form id="trainCancel" action="/train/cancel" method="POST">
		<div class="cancelWrapper">
			<div class="cancelLabel">Enter booking ID:</div>
			<input type="text" name="bId" autocomplete="off" />
		</div>
		<div class="cancelWrapper">
			<button type="submit">Cancel ticket</button>
		</div>
		<div class="cancelNoticeWrapper">
			<div class="cancelNotice">*Cancellation refund is based on time between cancellation and departure time of the train!</div>
		</div>	
	</form>
</div>