<div class="trainBook">
	<div class="trainBookWrapper">
		<div class="trainBookListHeading">Train Name & no.</div>
		<div class="trainBookListHeading">Departure time</div>
		<div class="trainBookListHeading">Arrival time</div>
		<div class="trainBookListHeading">Duration</div>
		<div class="trainBookListHeading">Class</div>
		<div class="trainBookListHeading">Avialability and fare</div>
	</div>
	{trains}
	<!--<div class="trainBookWrapper">
		<div class="trainBookListMember">watoexpress (100)</div>
		<div class="trainBookListMember">19:00</div>
		<div class="trainBookListMember">20:00</div>
		<div class="trainBookListMember">2:00</div>
		<div class="trainBookListMember"><button>Check avialability and fare</button></div>
	</div>-->
</div>